# GENERAL
COMPOSE_PROJECT_NAME="Sword Health Assignment"

# APPLICATION
APPLICATION_HOST_DIR=./app
APPLICATION_ROOT_DIR=/usr/src/app

# APPLICATION | MYSQL
APPLICATION_MYSQL_HOSTNAME=assignment-mysql
APPLICATION_MYSQL_CONTAINER_NAME=assignment_mysql
APPLICATION_MYSQL_IMAGE_NAME=docker.io/swordhealth/assignment_mysql
APPLICATION_MYSQL_IMAGE_TAG=latest
APPLICATION_MYSQL_INTERNAL_PORT=3306
APPLICATION_MYSQL_EXTERNAL_PORT=3308
APPLICATION_DB_SCRIPTS=${APPLICATION_HOST_DIR}/db/scripts
APPLICATION_DB_DATA=${APPLICATION_HOST_DIR}/db/data

# APPLICATION | API SERVER
APPLICATION_API_SERVER_HOSTNAME=assignment-node
APPLICATION_API_SERVER_CONTAINER_NAME=assignment_node
APPLICATION_API_SERVER_IMAGE_NAME=docker.io/swordhealth/assignment_node
APPLICATION_API_SERVER_IMAGE_TAG=latest
APPLICATION_API_SERVER_ENV=development
APPLICATION_API_SERVER_INTERNAL_PORT=8080
APPLICATION_API_SERVER_EXTERNAL_PORT=3000

# APPLICATION | RabbitMQ
APPLICATION_RABBITMQ_HOSTNAME=assignment-rabbitmq
APPLICATION_RABBITMQ_CONTAINER_NAME=assignment_rabbitmq
APPLICATION_RABBITMQ_IMAGE_NAME=docker.io/swordhealth/assignment_rabbitmq
APPLICATION_RABBITMQ_IMAGE_TAG=latest
APPLICATION_RABBITMQ_DATA=${APPLICATION_HOST_DIR}/rabbitmq/data
APPLICATION_RABBITMQ_PORT_1=5672
APPLICATION_RABBITMQ_PORT_2=15672
