# Maintenance Database
AMQP_PROTOCOL=amqp
AMQP_HOSTNAME=rabbitmq
AMQP_AMQP_PORT=5672
AMQP_USERNAME=
AMQP_PASSWORD=
AMQP_VHOST=

AMQP_MAINTENANCE_TASKS_EXCHANGE=maintenance_tasks
AMQP_MAINTENANCE_TASKS_EXCHANGE_TYPE=direct
AMQP_MAINTENANCE_TASKS_MANAGER_QUEUE=manager_tasks
AMQP_MAINTENANCE_TASKS_PERFORMED_BINDING_KEY=task.performed
