# Maintenance Database
MAINTENANCE_DB_ENABLE=true
MAINTENANCE_DB_DIALECT=mysql
MAINTENANCE_DB_HOST=assignment_mysql
MAINTENANCE_DB_NAME=swordhealth_maintenance
MAINTENANCE_DB_USER=sword_health
MAINTENANCE_DB_PASSWORD=root
MAINTENANCE_DB_PORT=3306
