# MYSQL Settings
MYSQL_VERSION=8.0

# MYSQL App Default Configs
MYSQL_DATABASE=swordhealth_maintenance
MYSQL_USER=sword_health
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root
MYSQL_ALLOW_EMPTY_PASSWORD=1
